button.btn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(210deg 85% 18%) 0%,
       hsl(210deg 85% 28%) 8%,
       hsl(210deg 85% 28%) 92%,
       hsl(210deg 85% 18%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 8px 20px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(209, 66%, 37%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button.btn:hover {
    filter: brightness(110%);
   }
   
   button.btn:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button.btn:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button.btn:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button.btn:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button.btn:focus:not(:focus-visible) {
    outline: none;
   }