@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --clr-primary: #20609d;
  --clr-bg:#f5f5f4;
  --font-mont: "Montserrat", sans-serif;
  --shadow-sm:2px 10px 23px -10px rgba(0,0,0,0.86);
  --shadow-lg:2px 10px 20px -5px rgba(0,0,0,0.80);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;

}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  min-height: 90vh;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background: #f5f5f4;
  overflow-x: hidden;
  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input:focus {
  box-shadow: none !important;
}

.ql-editor{
  min-height: 50vh;
}

#root,
#__next {
  isolation: isolate;
}
